*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'Inika', serif;
    font-weight: bold;
    color: #01044A;
}



.mainBody{
    display: flex;
    flex-direction: column;
}

.mainHeader{
    display: flex;
    padding: 1rem;
}

#mainLogo{
    width: 13rem;
}

.mainHeader nav {
    margin-left: 15rem;
}

.mainHeader ul {
    display: flex;
    list-style: none;
    margin: 1.5rem;
}

.mainHeader li{
    font-size: 1.2rem;
    padding-right: 3rem;
}

.mainHeader li a{
    text-decoration: none;
    color: #0a2351;
}

.landingPageMain{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mainBody {
    background-image: url("../images/Group\ 32.svg");
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: 95%;
    background-position: top right;


}

.mainContentAndImage{
    display: flex;
    justify-content: space-evenly;
    margin-top: 4rem;
    align-items: center;
    
}

.mainText{
    display: flex;
    flex-direction: column;
}

#welcomeMessage {
    margin-top: 1rem;
    font-size: 3rem;
    color: #0a2351;
}

#welcomeMessage2 {
    font-size: 1.4rem;
    color: #C850C0;
    width: 80%;
    padding-left: 0.5rem;
    margin-top: 0.8rem;
}

#welcomeMessage3 {
    font-size: 1.1rem;
    color: #4158D0;
    padding-left: 0.5rem;
    margin-top: 1rem;
}


#landingPic{
    width: 30rem;
}

#joinUsButton, #submit, #loginButton,#addSchedule, #editSchedule, #deleteSchedule, #cancelSchedule, #submitSchedule,#addPaper{
    background-color: #ffffff;
    /* border: 2px solid #01044A; */
    padding: 0.6rem 4rem;
    border-radius: 2rem;
    font-size: 1rem;
    text-decoration: none;
    color: #01044A;
}

.buttonBackground{
    display: flex;
    justify-content: center;
    padding: 0.1rem;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    border-radius: 2rem;
    width: fit-content;
    margin-top: 2.5rem;
    margin-left: 2.5rem;
    transition: all 0.15s ease-in-out;    

}

.buttonBackground:hover{
    transform: translateY(-1.5px);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.stats{
    display: flex;
    font-size: 0.8rem;
    text-align: center;
    color: #C850C0;

}

#activeMembers, #activeOrganizers, #availableVenues {
    /* margin: 1rem 7rem; */
    margin-top: 1rem;
    margin-left: 8rem;
    margin-right: 5rem;
}

.statNumber{
    font-size: 2.5rem;
    color: #0a2351;
}

.statsTitle{
    color: #C850C0;
}

.statNumber span {
    color: #FFC100;
}

.navigateToConfs {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    margin-top: 11rem;
}

.navigateToConfs a {
    text-decoration: none;
} 

.navigateToConfs p {
    color: #ADADAD;
    font-size: 1.2rem;
    padding-bottom: 0.8rem;
}

.navigateToConfs2{
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

#downArrow{
    width: 1.3rem;
    transition: all 0.30s ease-in-out;

}

.navigateToConfs2:hover #downArrow{
    transform: translateY(8px);
}

.conferencesSection{
    background-color: #ffffff;
    background-image: none;
    margin-top: 2rem;
}

#conferencesHeader{
    font-size: 2.3rem;
    margin-left: 8rem;
}

.searchAndSort{
    display: flex;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.sortContainer{
    display: flex;
    flex-direction: column;
    margin: 0rem 11rem;
}

.sortContainer label, .textFieldContainer label, .feedbackPageInputContainer label, .loginDataContainer label{
    color: #C850C0;
    margin-left: 0.2rem;
}

.textFieldContainer, .feedbackPageInputContainer, .loginDataContainer{
    display: flex;
    flex-direction: column;
    margin: 0rem 8rem;
}

#sort{
    background-color: #ffffff;
    border-color: #ADADAD;
    border-width: 1.5px;
    border-radius: 0.5rem;
    padding: 0.5rem 2.5rem;
}

#search, #name, #email, #phoneNumber, #loginEmail, #password{
    background-color: #ffffff;
    border-color: #ADADAD;
    border-width: 1.5px;
    border-radius: 0.5rem;
    padding: 0.6rem;
    width: 25rem;
    height: 2.6rem;
}

.conferenceCards{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(420px, 1fr));
    justify-items: center;
}

.conferenceCardBackground{
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    width: fit-content;
    padding: 0.1rem;
    border-radius: 2.1rem;
    margin-bottom: 2rem;
    transition: all 0.15s ease-in-out;
}

.conferenceCardBackground:hover{
    transform: translateY(-4px);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.conferenceDataContainer{
    margin: 1rem;
    border-radius: 1rem;
}

.conferenceCard{
    display: flex;
    flex-direction: column;
    width: 23rem;
    background-color: #ffffff;
    border-radius: 2rem;
    height: 33rem;
}

.conferenceTopPart{
    display: flex;
    flex-direction: row;
}

.conferenceHeaderContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.conferenceTitle{
    font-size: 1.3rem;
    text-align: center;
}

.presenterImage{
    width: 5.5rem;
}

.conferenceLocationContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 2rem;
}

.conferenceDateContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0.5rem;
}

.conferenceLocation, .conferenceDate {
    font-size: 0.8rem;
}

.conferenceImageContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.presenterName{
    margin-top: 1rem;
    font-size: 1.1rem;
}

.presenterTitle{
    font-size: 0.75rem;
    width: 10rem;
    margin-top: 0.5rem;
}


.dateIcon, .locationIcon{
    width: 1.5rem;
    margin-right: 0.5rem;
}

.conferenceData {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.conferenceBrief{
    color: #C850C0;
    font-size: 1.1rem;
}

.brief{
    margin-top: 0.2rem;
    max-width: 18rem;
    font-size: 0.9rem;
}

.teaser{
    margin-top: 3rem;
}

.feedbackPage{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 3rem;
}

.feedbackPageTitle{
    font-size: 2.3rem;
    margin-top: 2rem;
}

.feedbackPageSubTitle{
    text-align: center;
    width: 22rem;
    font-size: 1.4rem;
    margin: 1.5rem 0rem;
}

.feedbackPageImage{
    width: 22rem;
}

.contactUsData{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feedbackPageInputContainer{
    margin: 0.5rem;
}

.newsletterContainer{
    margin-top: 0.5rem;
    margin-right: 12rem;
}

.feedbackPageInputContainer label, .newsletterContainer label{
    font-size: 0.8rem;
}

.newsletterContainer label{
    color: #C850C0;
}

#submit{
    padding: 0.4rem 4rem;
}

#buttonBackground{
    margin-top: 2rem;
}

.mainPageFooter{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);    
    margin-top: 5rem;
    padding: 2rem 0rem;
    align-items: center;
}


.communicationIcons{
    width: 1.2rem;
    margin-right: 0.5rem;

}

.thxMessageContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.thanksMessage{
    text-align: center;
    margin-top: 1rem;
    color: #ffffff;
    font-size: 0.8rem;

}

.thanksMessage span a{
    color: #01044A;
    text-decoration: none;
}

.socialMediaInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.socialMediaInfo a {
    text-decoration: none;
}

.socialMediaIcons{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.Communication, .communicationIconText{
    color: #ffffff;
    font-size: 0.8rem;

}

.Communication{
    font-size: 0.9rem;
}

.thxMessageContainer img{
    width: 5rem;
} 

.communicationIconText{
    font-size: 0.8rem;

}

.conferenceDateContainer{
    margin-top: 1rem;
}


#loginPageBody{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}

.loginSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    padding: 12rem 3.5rem;
    padding-top: 5rem;
    border-radius: 1rem;
    transition: all 0.25s ease-in-out;    
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.loginSection:hover{
    transform: translateY(-1.5px);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
}

#loginLogo{
    width: 10rem;
    
}

#loginEmail, #password{
    width: 20rem;
    height: 2.2rem;
}

.loginDataContainer{
    margin-top: 1rem;
    margin-left: 0rem;
    margin-right: 0rem;
}

#loginDataContainer{
    margin-top: 3rem;
}

.buttonBackground{
    margin-top: 2.5rem;
    margin-left: 0rem;
}

#joinUsContainerID{
    margin-left: 2rem;
}

.loginDataContainer label{
    font-size: 0.9rem;
}

#loginButton{
    padding: 0.4rem 4rem;
}


.panelBody{
    display: grid;
    grid-template-rows: 140px auto;

}

.panelTopPart{
    grid-row: 1/2;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 1rem;
    flex-wrap: wrap;
    margin-top: 1rem;
    margin-left: 1rem;
    align-items: center;
    
}

.userLogo{
    width: 6rem;
    height: 6rem;
    /* margin-right: 1rem; */
}

.userInformationContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.userInfromation{
    margin-left: 0.5rem;
}

.userName{
    font-size: 1.2rem;
}

.role{
    color: #969898;
}

.roleAndActivity{
    display: flex;
    flex-direction: row;
    align-items: center;

}

.userActivity{
    width: 0.7rem;
    margin-left: 0.3rem;
    margin-top: 0.1rem;
}

.panelSearchAndSort{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.panelSortContainer, .panelTextFieldContainer{
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
}

.panelSortContainer label, .panelTextFieldContainer label {
    color: #C850C0;
}

#addSchedule, #addPaper{
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
}

#addScheduleBackground{
    align-self: flex-start;

}

.logoutLogo{
    width: 1.5rem;
    height: 1.5rem;
    margin-right:0.8rem ;
}

.logoutLogoContainer{
    align-self: flex-start;
}

.panelView{
    grid-row: 2/3;
}

.scheduleCard{
    display: flex;
    flex-direction: column;
    max-width: 25rem;
    height: 32rem;
    background-color: #ffffff;
    border-radius: 3rem;
    padding: 1rem;

}

.scheduleCard h4 {
    margin-bottom: 0.5rem;
}

.scheduleTitle, .scheduleBrief {
    text-align: center;
    margin-bottom: 0.5rem;
}

.locationContainer, .dateContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0.5rem;
}

.locationPin, .calendarPin {
    margin-right: 0.5rem;
}

.sessionsContainer{
    overflow-y: scroll ;
}



.presentersContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.panelView{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(420px, 1fr));
    justify-items: center;
    margin-top: 1rem;
}

.timeToContainer{
    display: flex;
    flex-direction: row;
    
}

.toAndFromTime, .presentersTitle, .presenterTitle{
    color: #455A64;
}

.fromTimeTitle, .toTimeTitle{
    margin-left: 1rem;
    margin-right: 0.3rem;
    color: #455A64;
}

.locationAndTime, .sessions{
    color: #C850C0;
    margin-bottom: 0.5rem;
}

.locationPin, .calendarPin{
    width: 1.2rem;
    height: 1.2rem;
}

.presenterPic{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
}

.presenter{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: #01044A 1px solid; */
    max-width: 10rem;
    text-align: center;
}

.scheduleButtonContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 1.2rem;
}

#editScheduleBackground, #deleteScheduleBackground{
    margin: 0rem;
}

#editSchedule, #deleteSchedule{
    padding: 0.3rem 4rem;
    font-size: 0.95rem;
}

.scheduleCardBackGround{
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    width: 25rem;
    height: fit-content;
    padding: 0.1rem;
    border-radius: 3rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    transition: all 0.15s ease-in-out;
    margin-top: 1.5rem;
}

.scheduleCardBackGround:hover{
    transform: translateY(-1px);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}

.addScheduleTitle{
    margin-bottom: 1rem;
    margin-right: 15rem;
}

.editorPanelView{

}


/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
    

  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #01044A;
    border-radius: 10px;

  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #4158D0;
  }

.editorPanelView h2{
    margin-left: 1rem;
}

.editorPanelView h3{
    margin-left: 2rem;
}

.editorPanelView h2{
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.editorPanelView h3, .editorPanelView span {
    color: #455A64;
}

.theSessionTitle{
    font-size: 1.4rem;
}

.presentersHeader{
    font-size: 1.25rem;
}

.editorPanelView select{
    background-color: #ffffff;
}

.mainScheduleData, .fromAndToContainers, .editorPresentersContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    

}

.editorInputContainer{
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    margin-bottom: 1rem;
    
}

.editorInputContainer label{
    margin-left: 0.2rem;
    color: #C850C0;
}

.editorInputContainer input, .editorInputContainer textarea, .editorInputContainer select{

    /* background-color: #ffffff;
    border-color: #ADADAD;
    border-width: 1.5px;
    border-radius: 0.5rem;
    padding: 0.6rem;
    width: 25rem;
    height: 2.6rem; */


    border-color: #ADADAD;
    border-width: 1.5px;
    border-radius: 0.5rem;

    padding: 0.6rem;
    width: 25rem;


}


.submitScheduleButtonContainer{
    display: flex;
    justify-content: flex-end;
    margin: 2rem 0rem
}

#cancelSchedule, #submitSchedule{
    padding: 0.5rem 3rem;
}

#submitScheduleBackground, #cancelScheduleBackground{
    margin: 0rem;
    margin-right: 1rem;
}